<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.mapper.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.imooc.pojo.Comment" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="vloger_id" property="vlogerId" jdbcType="VARCHAR" />
    <result column="father_comment_id" property="fatherCommentId" jdbcType="VARCHAR" />
    <result column="vlog_id" property="vlogId" jdbcType="VARCHAR" />
    <result column="comment_user_id" property="commentUserId" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="like_counts" property="likeCounts" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
    <select id="getCommentList" resultType="com.imooc.vo.CommentVO">
        select c.id                commentId,
               c.vloger_id         vlogId,
               u.id                vlogerId,
               u.nickname          commentUserNickname,
               u.face              commentUserFace,
               c.father_comment_id fatherCommentId,
               c.comment_user_id,
               c.content,
               c.like_counts,
               fu.nickname as      replyedUserNickname,
               c.create_time
        from comment c
                 left join users u
                           on c.comment_user_id = u.id
                 left join comment as fc
                           on c.father_comment_id = fc.id
                 left join users fu
                           on fc.comment_user_id = fu.id
        where c.vlog_id = #{vlogId}
        ORDER BY c.like_counts DESC,
                 c.create_time DESC
    </select>
</mapper>